<div class="header-container">
    <a href="./">
        <img src="./src/images/Logo.svg" alt="Food Hut - Logo">
    </a>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link" target="_self" rel="noopener noreferrer">
                    Today Special Offers
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" target="_self" rel="noopener noreferrer">
                    Why Foodhut
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" target="_self" rel="noopener noreferrer">
                    Our Menu
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" target="_self" rel="noopener noreferrer">
                    Our Popular Food
                </a>
            </li>
        </ul>
        <a href="#" class="page-btn nav-button">
            Download App
        </a>
    </nav>
</div>