<div class="menu-wrapper">
  <h2 class="menu-title">
    <span class="menu-span-red">Menu</span> that
    <span class="menu-span-yellow">always</span> make you <br />fall in
    <span class="menu-span-red">love</span>
  </h2>
  <ul class="menu-nav">
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
    <li class="menu-nav-item"><button class="menu-nav-btn">Lorem</button></li>
  </ul>
  <div class="menu-all-wrapper">
      <ul class="menu-panel" id="menu1">
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
        <li class="menu-item">
          <div class="menu-item-photo-wrapper">
            <img src="./src/images/menu-images/menu-border.png" alt="menu-border" class="menu-item-border" />
            <img src="./src/images/menu-images/menu-panel1/kebab.png" alt="menu-border" class="menu-item-photo" />
            <div class="menu-price-tag">10$</div>
          </div>
          <div class="menu-item-content-wrapper">
            <div class="menu-item-rating-wrapper">
              <img src="./src/images/menu-images/rating-photo.png" alt="users" class="menu-rating-photo" />
              <img src="./src/images/menu-images/star.png" alt="star" class="menu-rating-star" />
              <p class="menu-rating-text">(4.5)</p></div>
            <h4 class="menu-item-title">Kebab</h4>
            <p class="menu-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p>
          </div>
          <button class="menu-item-btn">Order Now</button>
        </li>
      </ul>
    </div>
    <div class="menu-panel" id="menu2"></div>
    <div class="menu-panel" id="menu3"></div>
    <div class="menu-panel" id="menu4"></div>
    <div class="menu-panel" id="menu5"></div>
    <div class="menu-panel" id="menu6"></div>
    <div class="menu-panel" id="menu7"></div>
    <div class="menu-panel" id="menu8"></div>
  </div>
</div>
